<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<a href="/workouts/new">Add Workout</a>
<a href="/workouts">View All</a>
